

section{
    margin:0 auto;
    width:940px;
    height:100%;
    text-align: center;
}

.member{
	margin: 0 0 30px 0;
}

.content{
	float: left;
}
.face_img{
	width:183px;
	height: 183px;
	margin: 2.5px;
	position: relative;
}

.clear{
	clear: both;
}

.label[data-label] {
	position: relative;
/*	font-family: Arial;*/
	text-align: right;
	margin: auto;
	display: inline-block;
	width: auto; 
	overflow: hidden;
}

.label[data-label] {
	padding:initial !important;
	font-size:initial !important;
	font-weight: initial !important;
	line-height: initial !important;
	color: initial !important;
	text-shadow:initial !important;
	white-space:initial !important;
	vertical-align: initial !important;
	background-color: initial !important;
	border-radius: initial !important;
}
.label[data-label].fade {
	opacity: 1 !important;
}

.label[data-label].rtl:after,
.label[data-label].rtl:before,
.label[data-label]:after,
.label[data-label]:before { 
    position: absolute;
    
    height: auto;
    width: 98%;
    display: block;
    
    padding:1;
    background:rgba(242, 242, 242, 0.80);
    
    content:attr(data-label);
    
}
.label[data-label].fade:after,
.label[data-label].fade:before,
.label[data-label].float:after,
.label[data-label].float:before {
	transition:all 0.25s ease;
    -webkit-transition:all 0.25s ease;
    -moz-transition:all 0.25s ease;
    -ms-transition:all 0.25s ease;
    -o-transition:all 0.25s ease;
}
.label[data-label].fade:after,
.label[data-label].fade:before {
    opacity: 0;
    visibility: hidden;
}
.label[data-label].fade:hover:after,
.label[data-label].fade:hover:before {
    opacity: 1;
    visibility: visible;
}
.label[data-label].bottom:before,
.label[data-label].bottom:after { 
    bottom:1%;
}
.label[data-label].inside.bottom.float:after {
    bottom: -5px;
}
.label[data-label].inside.bottom.float:hover:after {
    bottom: 1%;
}

.label[data-label].float:after,
.label[data-label].float:before {
    opacity: 0;
    visibility: hidden;
}

.label[data-label].float:hover:after,
.label[data-label].float:hover:before {
    opacity: 1;
    visibility: visible;
}
