*{
	padding:0px;
	margin:0;

}

html,body {
	width: 100%;
	height:100%;
	margin: 0;
	background-color:#FFFFFF;

}

#header{
	height:30px;
	width: 100%;
	background-color: #0000FF;
}

#menu{
	margin-top:20px;	
}

#logo{
	height:114;
	width:124;
	float:left;
}

.float{
	

	height:20%;
	width:50%;
	margin:0 auto;
	
}
#logo{
	top:100px;
}

.news{
	/*position:relative;*/
	/margin:0 auto;
	/*left:30%;*/ 
	width:60%;
	height:200%;
	overflow:auto;
	border:2px solid #ffffff; 
	float:left;
}

.twitter{
	/*width:10%;*/
	/*height:10%;*/
	float:right;
}
#main_menu p{
	width:120px;
	height:auto;
	text-align:center;
	float:left;
}

.clear{
	float:clear;
}