*{
	padding:0px;
	margin:0;
	font-family:'ヒラギノ丸ゴ Pro', 'Helvetica Neue', Helvetica, Arial, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;

}
html,body {
	width: 100%;
	height:100%;
	margin: 0;
	background-color:#FFFFFF;
}
.twitter{	
	position:relative;
	top:10%;
	left:10%;
}
nav{
	margin:0;
}
#blueline{
	margin-top:20px;
	background-color:#0000FF;
}

#logo{
	height:114;
	width:124;
	float:left;
}

<<<<<<< HEAD
=======
.float{
	

	height:20%;
	width:50%;
	margin:0 auto;
	
}
#logo{
	top:100px;
}

.news{
	/*position:relative;*/
	/margin:0 auto;
	/*left:30%;*/ 
	width:60%;
	height:200%;
	overflow:auto;
	border:2px solid #ffffff; 
	float:left;
}

.twitter{
	/*width:10%;*/
	/*height:10%;*/
	float:right;

}
>>>>>>> 64e2153ebad11a6dec89cf8941a0c168bf92a130

#main_menu{
	margin-top:20px;
	float:left;
}
#main_menu p{
	width:160px;
	height:auto;
	text-align:center;
	float:left;
}

.clear{
	float:clear;

}