*{
	padding:0px;
	margin:0;
}

html,body {
	width: 100%;
	height:100%;
	margin: 0;
	background-color:#FFFFFF;

}

#header{
	height:30px;
	width: 100%;
	background-color: #0000FF;
}

#menu{
	margin-top:20px;	
}

#logo{
	height:114;
	width:124;
	float:left;
}
.twitter{
	
	position:relative;
	top:200px;
	left:700px;
}
#logo{
	top:100px;
}
#menu{
	margin-top:30px;
	margin-left:20px;;
	
	
}
#main_menu p{
	width:120px;
	height:auto;
	text-align:center;
	float:left;

}