*{
	padding:0px;
	margin:0;
	font-family:'ヒラギノ丸ゴ Pro', 'Helvetica Neue', Helvetica, Arial, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
*/

html,body {
	width: 100%;
	height:100%;
	margin: 0;
	background-color:#FFFFFF;
}

#blueline{
    height:30px;
    background-color:#425fbe;
}

.twitter{	
	position:relative;
/*
	top:10%;
	left:10%;
*/
}

#logo{
	height:114px;
	width:124px;
	float:left;
}

nav{
    margin-top:0px;
    height:164px;
    background-color:#fff;
}

#menu{
    margin:10px auto 0 auto; 
    width:900px;
    height:114px;
}

#space_width20{
    width:20px;
    float:left;
    
}

#social_menu{
    width:86px;
    position:relative;
    padding-right:0;
    float:right;
    margin-right:11px;
    bottom:15px;
}

.fb_margin{
    margin-right:6px;
}

#main_menu{
    position:relative;
	margin-top:35px;
    margin-bottom:0;
	float:right;
/*    height:114px;*/
}

.eachmenu{
    margin-right:30px;
}

#menu1{
    position:relative;
    width:59px;
    height:34px;
    float:left;
    padding-right:15px;
    padding-left:15px;
}

#menu2{
    position:relative;
    width:106px;
    height:34px;
    float:left;
    padding-right:15px;
    padding-left:15px;
}

#menu3{
    position:relative;
    width:76px;
    height:34px;
    float:left;
    padding-right:15px;
    padding-left:15px;
}

#menu4{
    position:relative;
    width:112px;
    height:34px;
    float:left;
    padding-right:15px;
    padding-left:15px;
}

#menu5{
    position:relative;
    width:99px;
    height:34px;
    float:left;
    padding-right:15px;
    padding-left:15px;
}

#menu_bar a {
	float: left;
}

#menu_bar a:hover {
    border: none;
    border-bottom: thin solid #ffa817;
}

footer{
    width:100%;
    height:200px;
    background-color:#425fbe;
}

.clear{
	clear:both;
}

hr.style-one {
    margin:40px auto;
    border: 0;
    width:900px;
    height: 1px;
    background: #96909b;
    background-image: -webkit-linear-gradient(left, #ccc, #96909b, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #96909b, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #96909b, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #96909b, #ccc);
}

cap1{
	background: url(../img/works/01_over.png) no-repeat 0 0;
}