

#slideshow{
    width:auto;
    height:350px;
    background-color:yellow;
    margin: 50px auto;  
}
#page{
    width:960px;
    background-color:#4468a9;
    margin:50px auto;
}

#slider li { list-style:none; }

#slider {
    width:960px;
    height:350px;

    /*IE bugfix*/
    padding:0;
    margin:0;
}


.news_twi{
/*	height:20%;*/
    height:350px;
/*	width:50%;*/
    width:900px;
	margin:0px auto;
    margin-top:30px;
    background-color:silver;
}

.news{
	/*position:relative;*/
/*	/margin:0 auto;*/
	/*left:30%;*/ 
	width:65%;
/*	height:200%;*/
    height:350px;
	overflow:auto;
	background-color:red;
	float:left;
}

.twitter{
	/*width:10%;*/
	/*height:10%;*/
	float:right;
}

.contents{
    margin-left:30px;
    margin-bottom:20px;
}

.aboutus{
    margin:0 auto;
    width:900px;
    height:350px;
    background-color:green;
}

.works{
    margin:0 auto;
    width:900px;
    height:237px;
    background-color:orange;
}

#works_pics{
    margin:0 auto;
    width:900px;
    height:200px;
    background-color:#787;
}
.schedule{
    margin:0 auto;
    width:900px;
    height:350px;
    background-color:gray;
}

.contact{
    margin:0 auto;
    width:900px;
    height:350px;
    background-color:purple;
}