

#slideshow{
    width:auto;
    height:350px;
    background-color:#fff;
    margin: 50px auto;  
}
#page{
    width:960px;
    background-color:#fff;
    margin:50px auto;
}

#slider li { list-style:none; }

#slider {
    width:960px;
    height:350px;

    /*IE bugfix*/
    padding:0;
    margin:0;
}


.news_twi{
/*	height:20%;*/
    height:350px;
/*	width:50%;*/
    width:900px;
	margin:0px auto;
    margin-top:30px;
    background-color:#fff;
}

.news{
	/*position:relative;*/
/*	/margin:0 auto;*/
	/*left:30%;*/ 
	width:64%;
/*	height:200%;*/
    height:350px;
	overflow:auto;
	background-color:‹#fff;
	float:left;
    border: 1px solid #ebe8e8;  
    border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */  
}

.twitter{
	/*width:10%;*/
	/*height:10%;*/
	float:right;
}

.contents{
    margin-left:30px;
    margin-bottom:20px;
}

.aboutus{
    margin:0 auto;
    width:900px;
    height:350px;
    background-color:green;
}

.works{
    margin:0 auto;
    width:900px;
    height:237px;
    background-color:#fff;
}

#works_pics{
    margin:0 auto;
    width:900px;
    height:200px;
    background-color:#fff;
}

ul.dummy_menu {
    margin: 0 0 25;
    padding: 1em 0;
    list-style: none;
    border-top: 0px dotted #ccc;
    border-bottom: 0px dotted #ccc;
}
ul.dummy_menu li {
    float: left;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}
/*clearfixは省略しています*/

.schedule{
    margin:0 auto;
    width:900px;
    height:350px;
    background-color:gray;
}

.contact{
    margin:0 auto;
    width:900px;
    height:200px;
    background-color:#fff;
}

