
//@import "compass/reset";

html,body{
  width: auto;
  height: auto;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div#header {
  nav{
    background-color: #4468a9;
    .brand-logo{
      padding: 10px 30px;
    }
    #nav-mobile{
      padding-right: 20px;
    }
  }
}
div#content{
  margin: 50px auto;
  background: white;
  max-width:980px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
  padding: 0.5em;
//  margin-bottom: 1.0em;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
}
div#subTitle{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 0.5em;
  margin-bottom: 1.0em;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
}
.card{
  .card-image{
    z-index: 1;
  }
}

nav ul a:hover {
  color: #4468a9;
}