
//@import "compass/reset";

html,body{
  width: auto;
  height: auto;
}
div#content{
  margin: 50px auto;
  max-width:980px;
  box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.4);
  padding: 0.5em;
//  margin-bottom: 1.0em;
  border: solid 1px #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
div#subTitle{
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 0.5em;
  margin-bottom: 1.0em;
}