*{
	padding:0px;
	margin:0;
	font-family:'ヒラギノ丸ゴ Pro', 'Helvetica Neue', Helvetica, Arial, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}

.content {
	margin: 30px;
}

.work01{
	margin:30px 0px 20px 20px;
	position:relative;
	height:200px;
	}
.work01_ico{
	float:left;
	}
.work01_cap{

	}

.work02{
	margin:0px 20px 30px;	
	float:left;
	}
	
.work02_ico{
	float:left;
	}
.work02_cap{

	}
	
footer{
	clear:both;
}