/* line 4, ../sass/style.scss */
html, body {
  width: auto;
  height: auto;
}

/* line 8, ../sass/style.scss */
div#content {
  margin: 50px auto;
  background: white;
  max-width: 980px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  padding: 0.5em;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
}

/* line 19, ../sass/style.scss */
div#subTitle {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  margin-bottom: 1.0em;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
}

/* line 28, ../sass/style.scss */
.card .card-image {
  z-index: 1;
}
